.outterImageswrapper{
    background-color:rgba(255, 255, 255, 0.075);
    max-width: 980px;
    margin: 0 auto;
}
.outterImageswrapper .internalwrapper {
    max-width: 900px;
    background-color: #1b1f22;
    margin: 0 auto; 
    color: rgb(235, 227, 227)
}
.outterImageswrapper .internalwrapper img{
    max-width: 20%;
    padding: 8px 8px;
    
}
.internalwrapper .theImages{
    max-width: 800px;
    background-color: rgb(3, 3, 3); 
    margin: 0 auto;
}
.internalwrapper{
    text-align: center;
 
}

